/* user_access_control.css */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: white 2px 2px 2px;

}

.filters-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.filters-row .form-control,
.filters-row .form-select {
    padding: 0.25rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filters-row .search-button,
.filters-row .confirm-button,
.filters-row .new-user-button {
    background-color: var(--primary-background-color);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    margin-left: 0.5rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 2rem;
    border: 1px solid #888;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.modal-content label {
    display: block;
    margin: 0.5rem 0;
}

.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal-content button[type="submit"] {
    background-color: var(--primary-background-color);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #000000;
    padding: 0.5rem;
    text-align: center;
    white-space: nowrap;
    
}

.table thead th {
    background-color: var(--primary-background-color);
    color: white;
}

.table tbody td button[name="reject"],
.table tbody td button[name="confirm"] {
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

.table tbody td button[name="reject"] {
    background-color: rgb(211, 0, 0);
}

.table tbody td button[name="confirm"] {
    background-color: green;
}

.table tbody td button[name="accesses"],
.table tbody td button[name="password"] {
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}


.table tbody td button[name="password"] {
    background-color: rgb(188, 142, 27);
    
}

.table tbody td button[name="accesses"] {
    background-color: rgb(162, 162, 0);
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
}

.pagination .page-item {
    margin: 0 0.25rem;
}

.pagination .page-link {
    display: block;
    padding: 0.25rem 0.5rem;
    background-color: var(--primary-background-color);
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.text-end {
    margin-top: 0.5rem;
    text-align: right;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    animation: fadeIn 1s;
}