.sidebar {
    min-width: 150px;
    max-width: 450px;
    background-color: var(--primary-background-color);
    border-right: 2px solid #000000;
    overflow-x: hidden;
    padding-top: 0.5rem;
    padding-bottom: 5rem;
    position: sticky;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.hidden-menu {
    display: none;
}

.sidebar a {
    display: inline-block;
    padding: 0.4rem 0.2rem;
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #ffffff;
    border-radius: 10px;
}

.sidebar-container a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.sidebar-container a::before {
    content: "▶";
    font-size: 0.8rem;
    padding-right: 0.3rem;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul ul {
    padding-left: 1.1rem;
    position: relative;
}

.sidebar.hidden {
    width: 0;
    padding: 0;
}

nav ul {
    white-space: nowrap;
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    padding: 0.5rem 0;
    text-decoration: none;
}

.sidebar-logout {
    font-size: large;
    font-weight: bolder;
    position: absolute;
    bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    width: 100%;
    background-color: #125185;
    border-top: 2px solid #000;
}