:root {
  --primary-color: #346A99;
  --secondary-color: #d8d8d8;
  --text-color: #000000;
}

/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--secondary-color);
}

body,
.container-title,
.container-login,
.footer-container {
  color: var(--text-color);
}

/* Estilos do main */
main {
  display: flex;
  flex: 1;
}

.left-side,
.right-side {
  background-color: var(--secondary-color);
  flex: 1;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-title,
.container-login {
  background-color: #212121;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 480px;
  max-height: 350px;
  animation: fadeIn 1s ease-in;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.text-primary {
  color: #007BFF;
}

.phrase {
  font-size: 1rem;
  margin-top: 1rem;
}

.login-text {
  font-size: 1.5rem;
  color: #007BFF;
  margin-bottom: 1rem;
}

.form-label {
  font-size: 1rem;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.submit-button {
  background-color: #007BFF;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0069D9;
}

/* Estilos do footer */
footer {
  background-color: var(--primary-color);
  padding: 1rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  padding: 0 1rem;
}

.footer-column h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.footer-column p {
  font-size: 0.8rem;
  text-align: center;
}

.developer {
  display: flex;
  align-items: left;
  flex-direction: column;
}

.developer img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 10px;
}

.developer p {
  display: flex;
  align-items: center;
  margin-bottom: 0.1rem;

}

.developer a {
  color: var(--text-color);
  margin-left: 5px;
}

/* Animações */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsividade */
@media screen and (max-width: 992px) {
  main {
    flex-direction: column;
  }

  .left-side,
  .right-side {
    flex-basis: 100%;
    max-width: 100%;
  }

  .container-title,
  .container-login {
    max-width: 100%;
  }

  .footer-container {
    flex-wrap: wrap;
  }

  .footer-column {
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .footer-column {
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem;
    text-align: center;
  }

  .developer {
    justify-content: center;
  }
}