:root {
  --primary-background-color: #346A99;
  --body-background-color: #d8d8d8;
  --text-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
}

.left-side,
.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-width: 300px;
  max-width: 50%;
  margin-top: 1rem;
}

.left-side::before,
.right-side::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.container-title,
.container-login {
  background-color: var(--body-background-color);
  width: 100%;
  max-width: 30rem;
  height: auto;
  padding: 3rem;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 5px 5px 5px 5px var(--primary-background-color);
}

.container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Title and Phrase */
#login-form {
  width: 100%;
}

.title {
  font-size: 3rem;
}

.text-primary {
  color: #346A99;
}

.text-secondary {
  color: var(--text-color);
}

.phrase {
  font-size: 1.2rem;
  color: var(--text-color);
  text-align: center;
  margin-top: 2rem;
}

.login-text {
  font-size: 1.8rem;
  margin-bottom: 5px;
  text-align: center;
  color: #346A99;
}

.form-label {
  display: block;
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  border: 2px solid var(--primary-background-color);
  border-radius: 3px;
  margin-bottom: 20px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #346A99;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #2980b9;
}

/* Footer */
footer {
  background-color: var(--primary-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  flex-wrap: wrap;
  padding: 1rem;
}

.footer-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  z-index: 1;
  text-align: center;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  max-width: 500px;
  margin-bottom: 1rem;
}

.footer-column h3 {
  font-size: 1.4rem;
  font-weight: bolder;
  margin-bottom: 20px;
}

.footer-column p {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.4;
}

.developer img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.developer p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 1.8;
}

.developer a {
  color: var(--text-color);
  margin-left: 0.5rem;
}

.developer a:hover {
  color: #2980b9;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .left-side, .right-side {
    max-width: 100%;
    min-height: auto;
    margin: 0;
  }

  .container-title, .container-login {
    width: 80%;
    padding: 1.2rem;
    box-sizing: border-box;
  }

  .title {
    font-size: 1.2rem;
  }

  .phrase {
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }

  .login-text {
    font-size: 1.2rem;
  }

  .form-label {
    font-size: 0.8rem;
  }

  .form-control {
    font-size: 0.6rem;
    padding: 0.4rem;
    margin-bottom: 0.8rem;
  }

  .submit-button {
    font-size: 0.9rem;
    padding: 8px;
  }

  footer {
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-column {
    width: 100%;
    max-width: 100%;
    border-top: 1px solid #fff;
    padding-top: 0.5rem;
  }

  .footer-column h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .footer-column p {
    font-size: 0.9rem;
    line-height: 1.2;
  }

  .developer img {
    width: 1.2rem;
    height: 1.2rem;
  }

  .developer p {
    line-height: 1.6;
  }
}

/* Tablet styles */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    padding: 2rem 1rem;
  }

  main {
    flex-direction: column;
  }

  .left-side, .right-side {
    height: auto;
    max-width: 100%;
  }

  .container-title, .container-login {
    width: 80%;
    padding: 2rem;
  }

  footer {
    flex-direction: column;
  }
  
  .footer-container {
    flex-direction: column;
  }

  .footer-column {
    width: 100%;
    max-width: 100%;
    border-top: 1px solid #fff;
    padding-top: 1rem;
  }

  .footer-column h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .footer-column p {
    font-size: 0.9rem;
    line-height: 1.2;
  }

  .developer img {
    width: 1.2rem;
    height: 1.2rem;
  }

  .developer p {
    line-height: 1.6;
  }
}

/* Global styles to distribute space */
html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* iPhone SE, iPhone XR and other small screens */
@media screen and (max-width: 375px) {
  main {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .left-side,
  .right-side {
    margin-bottom: 1rem;
  }
}
