:root {
  --primary-color: #2c3e50;
  --secondary-color: #34495e;
  --background-color: #a3a3a3;
  --text-color: #fff;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--primary-color);
  }

  /* Cabeçalho - Header */

  header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-bottom: 2px solid #000000;
  }

  .header-content {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }  
  
  #toggle-sidebar {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
  }
  
  #toggle-sidebar:focus {
    outline: none;
  }
  
  #toggle-sidebar:hover {
    background-color: #223446;
    border-radius: 20px;
  }

  .hidden {
    display: none;
  }
  
  #page-title {
    margin-left: 5px;
    font-size: 1.5rem;
  }
  
  #control-panel {
    font-size: 1.25rem;
  }  
  
  main {
    display: flex;
    flex-grow: 1;
  }
  
  .sidebar {
    min-width: 150px;
    max-width: 300px;
    background-color: var(--secondary-color);
    border-right: 2px solid #000000;
    overflow: auto;
    padding: 1rem;
    position: sticky;
    white-space: nowrap; /* Adicione esta linha */
}

  .sidebar ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .sidebar ul ul {
    display: none;
    padding-left: 20px;
    position: relative;


  }
  
  .sidebar ul ul::before {
    content: "";
    position: absolute;
    left: 12px;
    top: 0;
    height: 100%;
    width: 0.05em;
    background-color: #ccc;
  }

  .sidebar a {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    background-color: #223446;
    border-radius: 20px;
  }
  
  nav ul {
    white-space: nowrap;
    list-style-type: none;
  }
  
  nav a {
    display: block;
    color: #fff;
    padding: 0.5rem 0;
    text-decoration: none;
  }
  
  
  footer {
    padding: 0.5rem;
    font-size: small;
    border-top: 2px solid #000000;
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
  }
  