header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-background-color);
    color: var(--text-color);
    border-bottom: 2px solid #000000;
    flex-wrap: nowrap;
    flex-direction: row;
}


.header-content {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

#toggle-sidebar {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    margin-right: 8px;
}

#toggle-sidebar:focus {
    outline: none;
}

#toggle-sidebar:hover {
    background-color: #ffffff;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.page-title {
    margin-left: 5px;
    font-size: 1.5rem;
}

.control-panel-title {
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.3s ease;
    color: var(--text-color);
}