.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-background-color);
    padding: 10px 20px;
    color: var(--text-color);
    font-family: Arial, sans-serif;
    border-bottom: 2px solid #000;
}

.left-content,
.right-content {
    display: flex;
    align-items: center;
}

/* Estilos do botão */
#toggle-sidebar {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-size: 24px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 15px;
}

#toggle-sidebar:hover {
    background-color: #ffffff;
    border-radius: 10px;
}

/* Estilos do título */
.page-title {
    font-size: 24px;
    font-weight: bolder;
}

/* Estilos do link do painel de controle */
.control-panel-title {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
}

.control-panel-title:hover {
    background-color: #ffffff;
    border-radius: 10px;
}