:root {
  --primary-background-color: #2e6da0;
  --body-background-color: #d8d8d8;
  --text-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--body-background-color);
}

main {
  display: flex;
  flex-grow: 1;
  border-right: 2px solid #000000;
  border-left: 2px solid #000000;
}

#main-container {
  flex-grow: 1;
  position: relative;
}

#company-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: var(--text-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s;
}


#main {
  display: none;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding: 1rem;
  overflow: auto;
  transition: margin-left 0.3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.subpage-container {
  width: 100%;
  height: 100%;
  padding: 1rem;
}


@media (max-width: 1024px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 10px;
  }
}